textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active {
	outline: 0px !important;
	-webkit-appearance: none;
	box-shadow: none !important;
}

p {
	margin: 0px;
}

:root {
	--background: white;
	--nav-background: rgb(247, 247, 247);
	--content-background: rgb(230, 230, 230);
	--accent: rgb(12, 121, 235);
}

.mainPage {
	display: flex;
	flex-direction: row;
}

.content {
	display: flex;
	flex-direction: column;
	height: 100vh;
	flex-grow: 1;
	overflow-y: auto;
	background-color: var(--background);
}

.sideNav {
	display: flex;
	width: 300px;
	height: 100vh;
	padding: 10px;
	flex-direction: column;
	justify-content: center;
	overflow-y: auto;
	background-color: var(--nav-background);
}

.sideNavText {
	font-size: 17px;
	padding: 5px;
	cursor: pointer;
}

.sideNavText:hover {
	opacity: 0.7;
}

.toggle {
	cursor: pointer;
}
