textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active {
	outline: 0px !important;
	-webkit-appearance: none;
	box-shadow: none !important;
}

p {
	margin: 0px;
}

:root {
	--background: white;
	--nav-background: rgb(247, 247, 247);
	--content-background: rgb(230, 230, 230);
	--accent: rgb(12, 121, 235);
}

html {
	overflow: scroll;
	overflow-x: hidden;
}
::-webkit-scrollbar {
	width: 0; /* Remove scrollbar space */
	background: transparent; /* Optional: just make scrollbar invisible */
}

/** Dashboard Screen **/

.header {
	width: 100%;
	display: flex;
	flex-direction: column;
	padding: 80px 40px;
	align-items: center;
	justify-content: center;
	background-color: var(--accent);
}

/** Main Screen **/

.mainPage {
	display: flex;
	flex-direction: row;
}

.content {
	display: flex;
	flex-direction: column;
	height: 100vh;
	flex-grow: 1;
	overflow-y: auto;
	background-color: var(--background);
}

.sideNav {
	display: flex;
	width: 300px;
	height: 100vh;
	flex-direction: column;
	justify-content: center;
	overflow-y: auto;
	background-color: var(--nav-background);
}

.sideNavText {
	font-size: 17px;
	font-weight: 500;
	padding: 10px 20px 10px 20px;
	text-decoration: none;
	cursor: pointer;
	color: black;
}

.sideNavText:hover {
	opacity: 0.9;
}

.sideNavTextSelected {
	background-color: var(--accent);
	color: white;
}

.sideNavTextSelected:hover {
	color: white;
}

/** Medication Screen **/

.listPanel {
	height: 100vh;
	padding: 10px;
	width: 100%;
	background-color: var(--content-background);
}

.listItem {
	padding: 20px;
	margin: 10px;
	font-weight: 500;
	border-radius: 10px;
	background-color: var(--nav-background);
}

.listItemSelected {
	background-color: var(--accent);
	color: white;
}

/** Article Screen **/

.tableHeader {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-width: 1px;
	border-color: #c5c5c5;
	border-style: solid;
	background: #212121;
}

.tableBody {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-width: 1px;
	border-color: #c5c5c5;
	border-style: solid;
	padding: 10px;
}

/** Tool **/
.tabUnselected {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-weight: 500;
	padding: 10px;
	margin: 5px;
	background-color: var(--background);
	border-radius: 5px;
}

.tabSelected {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-weight: 500;
	padding: 10px;
	margin: 5px;
	background-color: var(--accent);
	color: white;
	border-radius: 5px;
}

/** Misc **/

.toggle {
	cursor: pointer;
}

.toggle:hover {
	opacity: 0.7;
}

.line {
	width: 100%;
	height: 1px;
	background-color: #c5c5c5;
}

.fab {
	position: absolute;
	width: 60px;
	height: 60px;
	background-color: var(--accent);
	border-radius: 50%;
	bottom: 30px;
	right: 30px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.fabLong {
	position: absolute;
	height: 50px;
	background-color: var(--accent);
	border-radius: 25px;
	bottom: 35px;
	left: 30px;
	padding-left: 20px;
	padding-right: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.green {
	background-color: #2cac4c;
	color: white;
}
